@import 'variables.less';

// fonts import
@font-face {
  font-family: 'Souses Bold';
  src: inline('TT-Souses-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: inline('OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: inline('OpenSans-SemiBold.ttf');
}

body, html {
  margin: 0;
  padding: 0;

}

.center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  &:visited {
    color: @base-color;
  }
}

.button {
  width: 170px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50%;
  background: #3D9645;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  cursor: pointer;
  &.green{
    fill: #3D9645;
    .btntxt{
      fill: white;
      font-size: 3.6;
      font-weight: 600;
    }
  }
}
