footer
  div#img.center
    div Image here
    //- img(src="img/grow_together.png")
  div#main-nav.nav
    +aboutLink()
    +productsLink()
    +blogLink()
    +contactLink()
  div#secondary-nav.nav
    a.link(href="index.html") Reviews
    a.link(href="index.html") Privacy Policy
    a.link(href="index.html") Returns and Refund
    a.link(href="index.html") Terms of Service
  div#logos
    div Company logo
    div Omri logo
  div#social-media
    div Facebook
    div Instagram
