footer
  div#img.center
    img(src="imgs/footer-img.png")
  div#main-nav.nav
    +aboutLink()
    +productsLink()
    +shopLink()
    +blogLink()
    +contactLink()
  div#secondary-nav.nav
    a.link(href="index.html") Reviews
    a.link(href="index.html") Privacy Policy
    a.link(href="index.html") Returns and Refund
    a.link(href="index.html") Terms of Service
  div#logos
    img(src="imgs/fs-logo.png", width="120px")
    img(src="imgs/omri-logo.png", width="120px")
  div#social-media
    div.logo
      a.link(href="https://facebook.com")
        img(src="imgs/f_logo_RGB-Grey_58.png")
    div.logo
      a.link(href="https://instagram.com")
        img(src="imgs/instagram-logo.png")
