
include mixins.pug
html
head
	title Florasoul -
		block title
	style
		include ../../main.css
	block styles
body
	#page
		include menu.pug
		.hero
			block hero
		#content
			block content
			#footer
				block foot
					include default-footer.pug
