include mixins.pug
html
  head
    title Florasoul - 
      block title
    block styles
  body
    include menu.pug
    block content
    block foot
      #footer
        ol
          li
            +homelink()
          li
            +aboutlink()
