include mixins.pug
html
  head
    title Florasoul - 
      block title
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/globals.css")
    block styles
  body
    include menu.pug
    block content
    block foot
      include default-footer.pug
