include mixins.pug
html
  head
    title Florasoul -
      block title
  body
    include menu.pug
    block content
    block foot
      #footer
        ol
          li
            +homelink()
          li
            +aboutlink()
