
include mixins.pug
html
head
	title Florasoul -
		block title
	link(rel="stylesheet", href="styles/main.css")
	block styles
body
	#page
		include menu.pug
		#content
			.hero
				block hero
			block content
		#footer
			block foot
				include default-footer.pug
