include mixins.pug

nav
  div#logo
    +homeLink()
      img(src="inline(fs-logo.png)" height="42px")
  div#menu
    +aboutLink()
    +productsLink()
    +shopLink()
    +blogLink()
    +contactLink()
