mixin link(url,title)
  a.link(href=url)= title

mixin homeLink()
  +link("index.html","Home")
  
mixin aboutLink()
  +link("about.html","About us")

mixin productsLink()
  +link("index.html","Products")

mixin blogLink()
  +link("index.html","Blog")

mixin contactLink()
  +link("index.html","Contact us")
