extends includes/layout.pug

block title
  | About Us

block styles
  link(rel="stylesheet", href="styles/about.css")

block content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, incidunt veniam nesciunt est fugit modi tempore architecto rem velit distinctio, deleniti numquam facere odit repellat expedita voluptatum, delectus nemo praesentium.
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto tenetur atque nisi adipisci quas unde voluptatibus aspernatur? Quam, aperiam maiores quasi recusandae facilis, hic ipsum, earum perspiciatis dolor quo voluptates.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, fugit reiciendis autem in, ipsum consequuntur error nam vel molestiae libero sit delectus, voluptates optio eligendi velit distinctio quia. Enim, facilis.
