extends includes/layout.pug

block title
  | Home

block hero
  +heroimage("inline(hero-img.jpg)")
    svg(width="100%" height="100%" viewBox="0 0 100 100")
      text(fill="white" x=15 y=35) Make your world a
      text(fill="white" x=15 y=44) more beautiful
      text(fill="white" x=15 y=53) and better place
      +homeLink()
        +svgButton(15,65,45,12,"txt", "green")
          | Find Out More

block content
  .big Give your plants everything they REALLY need! Let them flourish and grow with Florasoul.
  hr
