extends includes/layout.pug

block title
  | Home

block styles
  link(rel="stylesheet", href="styles/index.css")

block content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ad, repellat et officia incidunt minima eos aliquid tenetur doloremque, quisquam earum quibusdam aspernatur dolorem dolore! Consectetur doloribus tempora nemo animi.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis rerum voluptas enim quo vel? Fugiat, amet at nulla facere ab tempora earum, aperiam vel ducimus vero totam. Inventore, ut.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum odio doloribus repellendus cum nobis, dolore pariatur aut ea soluta vitae, laborum rem quis at saepe doloremque unde temporibus quisquam autem?