@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf');
}

:root {
  --bg-color: rgba(170, 132, 57, 0.4);
  --text-color: #774F00;
  --shadow-color: #916612;
  --bg-mask: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
             linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: $foreground-color;
    border-radius: $size;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: $size;
    background-color: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body, html {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  @include scrollbars(10px, var(--bg-color), white);
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  font-size: 24px;
  background: var(--bg-color);
  padding: 10px 0;
  box-shadow: 0 2px 10px var(--shadow-color);
  backdrop-filter: blur(15px);
  a {
    text-align: center;
    text-decoration: unset;
    transition: text-shadow 0.2s ease-out;
    &:hover {
      text-shadow: 0.5px 0.7px 1px var(--shadow-color);
    }
    &:visited {
      color: var(--text-color);
    }
  }
}

#content {
  .article {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 300px;
    h1 {
      width: 100%;
      text-align: center;
      margin: 0 0 100px 0;
    }
    p {
      width: 100%;
      text-align: center;
      margin: 8px 0;
    }
    .bg-base {
      background-clip: content-box;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .article:nth-child(1) {
    background-image: var(--bg-mask), url("../static/bg-1.jpg");
  }
  .article:nth-child(2) {
    background-image: var(--bg-mask), url("../static/bg-2.jpg");
  }
  .article:nth-child(3) {
    background-image: var(--bg-mask), url("../static/bg-3.jpg");
  }
}

footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 0;
  background: var(--bg-color);
  box-shadow: inset 0 0 2px var(--shadow-color);
  span {
    color: rebeccapurple;
  }
  a {
    color: var(--text-color);
  }
}
