extends includes/layout.pug

block scripts
  script(type="module", src="components/font-converter/font-converter.js")

block content
  a(href="/") Home
  - const port = '3120'
  fs-font-converter(api-url="http://" + apiDomain + ":" + port)