extends includes/layout.pug

block scripts
  script(type="module", src="components/font-converter/font-converter.js")

block content
  a(href="/") Home
  - const domain = `${isTest ? 'localhost:3120' : 'api.flora-soul.com'}/${isTest ? '' : 'images'}`
  fs-font-converter(api-url="http://" + domain)