extends includes/layout.pug

block scripts
  script(type="module", src="components/file-browser/file-browser.js")

block content
  a(href="/") Home
  - const port = '3110'
  fs-file-browser(api-url="http://" + apiDomain + ":" + port, web-socket-url="ws://" + apiDomain + ":" + port)