extends includes/layout.pug

block scripts
  script(type="module", src="components/file-browser/file-browser.js")

block content
  a(href="/") Home
  - const domain = `${isTest ? 'localhost:3110' : 'api.flora-soul.com'}/${isTest ? '' : 'images'}`
  fs-file-browser(api-url="http://" + domain, web-socket-url="ws://" + domain)